DATABASE_URL=sqlite:///./wfh_event.db
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=damushreya@gmail.com
SMTP_PASSWORD=lqxy ffxa easi bdel
FROM_EMAIL=damushreya@gmail.com
EVENT_NAME=WFH Annual Event
API_BASE_URL=http://localhost:18000
BARCODE_OUTPUT_DIR=./data/output/barcodes
INPUT_CSV=./data/input/WFHAttendees.csv

